@charset "UTF-8";

#termModal .modal-dialog.modal-termsize {
  width: 800px;
  height: 550px;
  max-width : 100%;
}

#termModal .modal-content.modal-termsize {
  width : auto;
  height : 550px;
  border-radius: 0;
}

#termModal .modal-header{
	position : relative;
	padding : 0;
	display: block;
}

#termModal .modal-header .close{
	position: absolute;
	right : 15px;
	top : 5px;
}

#termModal .modal-header .modal-title-wrap{
	padding : 10px;
}

#termModal .modal-header .modal-title{
	font-size: 18px;
	font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
	text-align: center;	 
}

#termModal .modal-body{
	overflow-y: scroll;  
}

#termModal .nav-link{
	font-size: 13px;
	line-height: 17px;
	font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
	background-color: white;
	color: black;
	border-top : 1px solid #DDD;
	border-bottom : 1px solid #DDD;
	border-left : none;
	border-right : none;
	border-radius: 0px;
}

#termModal .nav-link.active{
	border-bottom : 1px solid #000;
}

#termModal .modal-footer{
	justify-content: center;
}

#termModal .modal-footer button{
	width : 165px;
	height : 50px;
	color: white;
	background-color: #414141;
	font-size: 14px;
	line-height: 43px;
	font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
}