html,
body {
  margin: 0;
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
ul,
ol,
dl,
dt,
dd,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.tit {
  font-size: 18px;
  color: #fff;
}

.hidden {
  display: none;
}

.ticketing_con {
  position: relative;
  width: 1200px;
  height: 750px;
  border: 1px solid #000;
}

.article {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.article_location {
  width: 350px;
}

.article_location .group-top {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #222;
  text-align: center;
  background-color: #000;
}

/* start location_select_wrap */

.location_select_wrap {
  position: relative;
  height: 100%;
}

.location_select_wrap > ul .depth2 > ul {
  height: 700px;
  overflow: auto;
}

.location_select_wrap > ul li {
  padding: 2px;
  border-bottom: none;
}

.location_select_wrap > ul > li.depth1 > a {
  display: block;
  position: relative;
  width: 175px;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 13px;
  background-color: #f5f5f5;
}
.location_select_wrap > ul > li.depth1.active > a {
  background: #fff url(./img/check.png) no-repeat 130px center;
}

.location_select_wrap > ul > li.depth1.active .depth2 {
  display: block;
}

.location_select_wrap > ul .depth2 {
  background-color: #fff;
}

.location_select_wrap > ul .depth2 {
  display: none;
  position: absolute;
  left: 175px;
  right: 0;
  top: 0;
  bottom: 0;
}

.location_select_wrap > ul .depth2 ul li a {
  display: table-cell;
  overflow: hidden;
  padding: 10px 16px;
  font-size: 13px;
  vertical-align: middle;
}
.location_select_wrap > ul .depth2 ul li.active {
  background: #fff url(./img/check.png) no-repeat 130px center;
}

/* end location_select_wrap */

/* start article_cinema */
.article_cinema {
  width: 700px;
  height: 100px;
  margin-left: 20px;
  background-color: #f5f5f5;
}

.article_cinema .cinema_select_wrap ul {
  width: 100%;
  height: 40px;
}
.article_cinema .cinema_select_wrap ul li {
  width: 200px;
  height: 100%;
  margin-left: 10px;
  line-height: 40px;
  text-align: center;
  float: left;

  background-color: #fff;
}
.article_cinema .cinema_select_wrap ul li.active {
  background: #fff url(./img/check.png) no-repeat 170px center;
}

/* end article_cinema */

/* start article_date */
.article_date {
  width: 700px;
  height: 115px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.owl-item {
  position: relative;
  float: left;
  display: block;
  min-height: 1px;
}

.date_select_wrap {
  height: 75px;
  margin: 22px 20px 10px;
}

.date_select_wrap .owl-stage {
  display: flex;
  justify-content: center;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 660px;
  height: 100%;
  text-align: center;
}

.date_select_wrap .owl-item {
  display: none;
}
.date_select_wrap .owl-item.active {
  display: block;
}

.date_select_wrap .month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.date_select_wrap .date {
  display: block;
  position: relative;
  padding-top: 20px;
}

.date_select_wrap .date label {
  display: block;
  cursor: pointer;
}
.date_select_wrap .date label input[type="radio"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.date_select_wrap .date label input[type="radio"]:checked + strong {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
.date_select_wrap .date label strong {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
}

.date_select_wrap .date label em {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.date_select_wrap .date.sat {
  color: #233ca3;
}
.date_select_wrap .date.sun {
  color: #f24a6a;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-nav .owl-prev {
  opacity: 0.6;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 37px;
  height: 39px;
  margin-top: -20px;
  background: url(./img/arr_lf_11.png) no-repeat center center;
}

.owl-nav .owl-next {
  opacity: 0.6;
  position: absolute;
  right: 50px;
  top: 50%;
  width: 37px;
  height: 39px;
  margin-top: -20px;
  background: url(./img/arr_rg_11.png) no-repeat center center;
}

.owl-nav [class*="owl-"] span {
  font-size: 0;
  text-indent: -9999em;
}

/* end article_date */

/* start article_movie */
.article_movie {
  width: 700px;
  height: 400px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.article_movie .movie_select_wrap .movie img {
  width: 100px;
  height: 100px;
}

.article_movie .movie_select_wrap .movie {
  display: flex;
}

.movie .movie_column {
  margin: 10px 20px;
}

.movie .movie_title {
  margin-left: 10px;
  margin-bottom: 10px;
}

.movie .movie_time ul li {
  float: left;
  width: 105px;
  margin-left: 10px;
}
.movie .movie_time ul li a {
  display: block;
  position: relative;
  height: 33px;
  padding: 8px 14px 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.movie .movie_time dt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.movie .movie_time ul li > a dl dd.time {
  margin-bottom: 5px;
  text-align: center;
  font-size: 11px;
}
.movie .movie_time ul li > a dl dd.seat {
  font-size: 11px;
  color: #666;
}
.movie .movie_time ul li > a dl dd.hall {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 11px;
}

.movie_select_wrap {
  height: 400px;
  overflow: auto;
}

.movie_next_btn {
  height: 50px;
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.movie_next_btn {
  text-align: right;
}
.movie_next_btn a {
  padding: 10px 10px;
  color: black;
  background-color: #f5f5f5;
}

/* end article_movie */
