@charset "utf-8";
@import url('./layout.css');
@import url('./board.css');

/* �꽌釉� �젅�씠�븘�썐 */
#sub {
	min-height: 600px;
	margin-bottom: 100px;
	padding-top: 60px;
}

/* �꽌釉� 鍮꾩＜�뼹 */
.subVisual {
	overflow: hidden;
	position: relative;
	height: 300px;
}

.subVisual img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
}

/* �럹�씠吏� ���씠�� */
.pageTitle {
	position: relative;
	margin-top: -90px;
	margin-bottom: 90px;
	font-weight: 800;
	font-size: 54px;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ���씠�� �뒪���씪 */
.tit1 {
	color: #ed3124;
}

/* 由ъ뒪�듃 �뒪���씪 */
.list_st1 > li {
	position: relative;
	padding-left: 10px;
	line-height: 1.6;
}

.list_st1 > li:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	background-color: #ed3124;
}

.list_st2 > li {
	position: relative;
	padding-left: 10px;
	line-height: 1.6;
}

.list_st2 > li:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #a4a4a4;
}

.list_st3 > li {
	position: relative;
	padding-left: 10px;
	line-height: 1.6;
	color: #737373;
}

.list_st3 > li:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 5px;
	height: 1px;
	background-color: #9c9c9c;
}

/* �깋�긽 �뒪���씪 */
.color_blue {
	color: #337ab7;
}

.color_red {
	color: #ed3124;
}

.color_orange {
	color: #ffa500;
}

.color_grey {
	color: #737373;
}

/* �깙諛뺤뒪 �뒪���씪 */
.topbox_st1,
.topbox_st2 {
	position: relative;
	margin-bottom: 30px;
	padding: 25px 30px;
	background-color: #f3f3f3;
}

.topbox_st1 {
	padding-left: 110px;
}

.topbox_st1 > i {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 30px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #fff;
	font-size: 36px;
	color: #ed3124;
	text-align: center;
	vertical-align: top;
}

.topbox_st1 h3,
.topbox_st2 h3 {
	margin-top: 0;
	font-weight: 700;
}

.topbox_st1 p,
.topbox_st2 p {
	margin-bottom: 0;
}

/**********************************************************/

/* 濡쒓렇�씤 */
.login-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-form form {
  margin-bottom: 20px;
}

.login-field {
  margin-bottom: 10px;
}

.login-form .btn-submit {
  width: 100%;
  margin-bottom: 10px;
}

/* 濡쒓렇�븘�썐 */
.logout-div .btns {
	margin-top: 20px;
}

/* �쉶�썝媛��엯 */
.join-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.join-form .submit-join {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.join-form .ph-span {
  float: left;
  font-size: 15px;
  line-height: 34px;
}

.join-form .msg {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.join-form .tel-group .row [class^="col-"] {
  width: calc(33.33% - 5px);
}

.join-form .email-group .row [class^="col-"] {
  width: calc(50% - 6px);
}

.join-form .email-group .row [class^="col-"]:last-of-type {
  float: right;
}

.join-form .email-dash {
  float: left;
  line-height: 34px;
}

.join-form #detailAddr {
  float: left;
  margin-top: 10px;
}

.join-form .radio {
  display: inline-block;
  margin-right: 10px;
}

/* �쉶�썝�깉�눜 */
.delete-div {
	width: 300px;
	margin: 0 auto;
}

.delete-div #deletePw {
	margin-bottom: 10px;
}

/* �쁺�솕 寃��깋 */
.searchMovie .top {
	overflow: hidden;
}

.searchMovie input {
	float: left;
	width: calc(100% - 80px);
	height: 80px;
	line-height: 50px;
	padding: 0 20px;
	border: 0;
	border-bottom: 3px solid #ed3124;
	background-color: transparent;
	font-size: 24px;
}

.searchMovie .btnSearch {
	float: left;
	width: 80px;
	height: 80px;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	font-size: 50px;
	color: #ed3124;
}

.searchMovie .resultBox {
	margin-top: 60px;
}

.searchMovie .resultBox .count {
	margin-bottom: 20px;
}

.searchMovie .resultBox > ul > li {
	padding: 30px;
}

.searchMovie .resultBox > ul > li:nth-child(even) {
	background-color: #f0f0f0;
}

.searchMovie .resultBox > ul > li > a {
	display: inline-block;
	color: #1a1a1a;
}

.searchMovie .resultBox > ul > li > a:hover,
.searchMovie .resultBox > ul > li > a:focus {
	text-decoration: none;
}

.searchMovie .resultBox  > ul > li > a .img {
	display: inline-block;
	height: 160px;
	vertical-align: middle;
}

.searchMovie .resultBox > ul > li > a .img img {
	width: auto;
	height: 100%;
}

.searchMovie .resultBox > ul > li > a .txt {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}

.searchMovie .resultBox > ul > li > a .txt > span {
	display: block;
	margin-top: 3px;
}

.searchMovie .resultBox > ul > li > a .txt .list_st1 {
	margin-top: 20px;
}

.searchMovie .resultBox > ul > li > a .title {
	font-weight: 400;
	font-size: 24px;
	box-shadow: #ffdedc 0px -14px 0 inset;
}

.searchMovie .resultBox > ul > li > a .highlight {
	font-weight: 700;
	color: #ed3124;
}

.searchMovie .resultBox .noData {
	font-size: 18px;
}

/* 移대뱶�궗 議고쉶 */
.card_wrap .btns {
	display: flex;
	justify-content: flex-end;
	gap: 6px;
	flex-wrap: wrap;
}

/**********************************************************/

/* start wrap_reserve */
.wrap_reserve {
  overflow: hidden;
  position: relative;
  width: 1280px;
  height: 950px;
  margin: 0 auto;
  background-color: #fff;
}

.wrap_reserve .article {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.wrap_reserve .article .group_top {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #222;
  text-align: center;
  background-color: #000;
}
.wrap_reserve .article .group_top .tit {
  font-size: 18px;
  color: #fff;
}

.ic_grade {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}

.ic_grade::before {
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

.ic_grade.gr_0 {
  background-color: #5BC77E;
}
.ic_grade.gr_0::before {
  content: "전체";
}

.ic_grade.gr_7 {
  background-color: #F7C500;
}
.ic_grade.gr_7::before {
  content: "7";
}


.ic_grade.gr_12 {
  background-color: #4dd6ff;
}
.ic_grade.gr_12::before {
  content: "12";
}

.ic_grade.gr_15 {
  background-color: #ffc134;
}

.ic_grade.gr_15::before {
  content: "15";
}

.ic_grade.gr_19 {
  background-color: #ED4C6B;
}

.ic_grade.gr_19::before {
  content: "19";
}
/* end wrap_reserve */

/* start article_cinema */
.article.article_cinema {
  width: 350px;
}

.article.article_cinema .cinema_select_wrap {
  position: relative;
}

.article.article_cinema .cinema_select_wrap .cinema_list {
  height: 700px;
  overflow-y: scroll;
}

.article.article_cinema .cinema_select_wrap .depth1 {
  padding: 2px;
  border-bottom: none;
}

.article.article_cinema .cinema_select_wrap .depth1 .location {
  display: block;
  position: relative;
  width: 175px;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 13px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: #f5f5f5;
}

.article.article_cinema .cinema_select_wrap .depth1.active .location {
  background: #fff url(./../images/sub/check.png) no-repeat 130px center;
}

.article.article_cinema .cinema_select_wrap .depth2 {
  display: none;
}
.article.article_cinema .cinema_select_wrap .depth2.active {
  display: block;
  position: absolute;
  left: 175px;
  right: 0;
  top: 0;
  bottom: 0;
}

.article.article_cinema .cinema_select_wrap .depth2 .cinema {
  display: table-cell;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 13px;
  width:158px;
}

.article.article_cinema .cinema_select_wrap .depth2 .cinema_item {
  padding: 2px;
}

.article.article_cinema .cinema_select_wrap .depth2 .cinema_item.active {
  background: #fff url(./../images/sub/check.png) no-repeat 130px center;
}
/* end article_cinema */

/* start article_movie */
.article.article_movie {
  width: 350px;
  background-color: #f8f8f8;
}

.article.article_movie .movie_select_wrap .movie_item {
  box-sizing: border-box;
  border: 2px solid transparent;
  height: 50px;
}

.article.article_movie .movie_select_wrap .movie_item.active {
  border: 2px solid #000;
  background: #fff url(./../images/sub/check.png) no-repeat 300px center;
}

.article.article_movie .movie_select_wrap .movie_item .movie {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.movie_select_wrap ul > li .ic_grade {
  position: absolute;
  left: 20px;
  top: 12px;
  margin-right: 5px;
}

.movie_select_wrap ul > li .tit {
  display: block;
  overflow: hidden;
  width: 250px;
  padding-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #000;
}
/* end article_movie */

/* start article_time */
.article.article_time {
  width: 500px;
}

.article.article_time .time_select_wrap {
  overflow: hidden;
  height: 815px;
}

.article.article_time .date_select_wrap {
  height: 75px;
  margin: 20px 20px 10px;
}

.article.article_time .date_select_wrap .owl-stage {
  display: flex;
  justify-content: center;
}

.article.article_time .date_select_wrap .owl-item {
  display: none;
  position: relative;
  float: left;
  min-height: 1px;
  width: 52.5px;
}

.article.article_time .date_select_wrap .owl-item.active {
  display: block;
}

.article.article_time .date_select_wrap .month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.article.article_time .date_select_wrap .date {
  display: block;
  position: relative;
  padding-top: 20px;
}

/*****************************************************************/

.article.article_time .date_select_wrap .date label {
  display: block;
  cursor: pointer;
}
.article.article_time .date_select_wrap .date label input[type="radio"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.article.article_time
  .date_select_wrap
  .date
  label
  input[type="radio"]:checked
  + strong {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
.article.article_time .date_select_wrap .date label strong {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
}

.date_select_wrap .date label em {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.date_select_wrap .date.sat {
  color: #233ca3;
}
.date_select_wrap .date.sun {
  color: #f24a6a;
}

.owl-nav {
  position: static;
  top: 50%;
  height: 19px;
  margin-top: -10px;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-nav .owl-prev {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 14%;
  width: 37px;
  height: 39px;
  margin-top: -20px;
  background: url(./../images/sub/arr_lf_11.png) no-repeat center center;
}

.owl-nav .owl-next {
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 14%;
  width: 37px;
  height: 39px;
  margin-top: -20px;
  background: url(./../images/sub/arr_rg_11.png) no-repeat center center;
}

.owl-nav [class*="owl-"] span {
  font-size: 0;
  text-indent: -9999em;
}

/* end article_date */

/* start article_time */

.time_select_wrap {
  margin-top: 20px;
}

.time_select_wrap ul.list_hall {
  margin-bottom: 5px;
}
.time_select_wrap ul.list_hall::after {
  content: "";
  display: block;
  clear: both;
}
.time_select_wrap ul.list_time::after {
  content: "";
  display: block;
  clear: both;
}

.time_select_wrap ul.list_hall li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.time_select_wrap ul.list_hall li {
  display: block;
  position: relative;
  float: left;
  margin-left: 6px;
  padding-left: 6px;
  font-size: 13px;
}

.time_select_wrap ul.list_time li {
  float: left;
  width: 23.5%;
  margin: 0 0 11px 2%;
}

.group_time_select {
  margin-top: 30px;
  margin-bottom : 30px;
}

.tab_wrap.outer {
  padding: 0 20px;
}
.tab_wrap.outer li .tab_con {
  display: none;
}

.tab_wrap.outer li .tab_con.active {
  display: block;
}

.time_select_wrap ul.list_time li:nth-child(4n + 1) {
  margin-left: 0;
}

.time_select_wrap ul.list_time li > a {
  display: block;
  position: relative;
  height: 55px;
  padding: 8px 14px 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #f8f8f8;
  color: #000;
}

.time_select_wrap ul.list_time li > a dl dt {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.time_select_wrap ul.list_time li > a dl dd.time {
  margin-bottom: 5px;
  font-size: 11px;
}
.time_select_wrap ul.list_time li > a dl dd.time strong {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.time_select_wrap ul.list_time li > a dl dd.seat {
  font-size: 11px;
  color: #666;
}
.time_select_wrap ul.list_time li > a dl dd.seat strong {
  color: #427652;
}

.time_select_wrap ul.list_time li > a dl dd.hall {
  position: absolute;
  right: 10px;
  bottom: 3px;
  font-size: 11px;
}
/* end article_time */


/**********************************************************/

/* 醫뚯꽍 �꽑�깮*/

/* @import "./ticketing.css"; */

/* �씤�썝�닔 �꽑�깮 */
.bx_num {
  position: relative;
  width: 105px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.section_step_con .article.article_seat {
  width: 1200px;
}

.section_step_con .article.article_seat > .inner {
  overflow: hidden;
  height: 900px;
}

.select_num_people_wrap {
  overflow: hidden;
  height: 117px;
  padding: 0 20px;
  background-color: #fff;
}

.select_num_people_wrap .movie_infor {
  position: relative;
  float: left;
  width: 270px;
  padding: 30px 0 0 54px;
}

.select_num_people_wrap .movie_infor .thm {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 26px;
  left: 0;
  width: 46px;
  height: 65px;
  border-radius: 4px;
}

.select_num_people_wrap .movie_infor .thm img {
  width: 100%;
}

.select_num_people_wrap .movie_infor .group_infor .bx_tit {
  display: block;
  margin-bottom: 10px;
}

.select_num_people_wrap .movie_infor .group_infor dl {
  position: relative;
}
.select_num_people_wrap .movie_infor .group_infor dl dt {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.select_num_people_wrap .movie_infor .group_infor dl dd.sub_info1 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 11px;
}

.select_num_people_wrap .count_people {
  float: right;
  width: 825px;
  margin-top: 36px;
}

.select_num_people_wrap .count_people > ul::after {
  content: "";
  display: block;
  clear: both;
}

.select_num_people_wrap .count_people > ul > li {
  float: left;
  margin-left: 20px;
}
.select_num_people_wrap .count_people > ul > li:first-child {
  margin-left: 0;
}

.select_num_people_wrap .count_people > ul > li .tit {
  margin-right: 8px;
  font-size: 13px;
  color: #1e1e1e;
}
.select_num_people_wrap .count_people > ul > li .bx_num {
  display: inline-block;
  width: 100px;
}

.bx_num .btn_mins {
  left: 0;
  background: url(../images/sub/minus_12.png) no-repeat 50% 50%;
}
.bx_num .btn_plus {
  right: 0;
  background: url(../images/sub/plus_12.png) no-repeat 50% 50%;
}

.bx_num .btn_mins,
.bx_num .btn_plus {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 15px;
  text-indent: -9999em;
  font: 0 auto;
}

.bx_num .txt_num {
  width: 100px;
  padding: 11px 0;
  font-size: 15px;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
  vertical-align: middle;
}


/**********************************************************/


/* 醫뚯꽍 */
.select_seat_wrap {
  overflow: hidden;
  color: #fff;
  height: 670px;
  background-color: #000;
}

.select_seat_wrap .title_screen1 {
  display: block;
  padding: 5px 0 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 15px;
  
  margin: 0 0 30px;
  background-color: #6e6e6e;
}

.select_seat_wrap .showMap {
  width: 100%;
  height: 500px;
}

.select_seat_wrap .showMap table {
  border-spacing: 10px;
  border-collapse: separate;
}
.select_seat_wrap .showMap td:first-child {
  color: white;
  background-color: transparent;
}
.select_seat_wrap .showMap td {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #cfe2f3;
  color: #1e1e1e;
}



.select_seat_wrap .showMap td:not(.active):hover {
  background-color: #b9d4eb;
}

.select_seat_wrap .showMap td.reserved input{
  background-color: #747474;
}

.select_seat_wrap .showMap td.no_select input{
  background-color : #444;
  background-size: 50px 50px;
}

.select_seat_wrap .showMap td.active input {
  background-color: red;
  color: white;
}

.select_seat_wrap .showMap td input {
  display: inline-block;
  background-color: #cfe2f3;
  text-align : center;
  width: 50px;
  line-height: 50px;
  color: #337ab7;
}

/* 醫뚯꽍 ���엯 */
.seat_btm_box {
  height: 50px;
  background-color: #000;
  color: white;
}

.seat_btm_box .seat_type_box .top_info span {
  padding-left: 17px;
  margin-left: 6px;
}
.seat_btm_box .seat_type_box .top_info span.seat_type1 {
  background: url(../images/sub/ic_seat_type1.png) no-repeat 0 4px;
}
.seat_btm_box .seat_type_box .top_info span.seat_type2 {
  background: url(../images/sub/ic_seat_type2.png) no-repeat 0 4px;
}
.seat_btm_box .seat_type_box .top_info span.seat_type3 {
  background: url(../images/sub/ic_seat_type3.png) no-repeat 0 4px;
}
.seat_btm_box .seat_type_box .top_info span.seat_type4 {
  background: url(../images/sub/ic_seat_type4.png) no-repeat 0 4px;
}


/* 醫뚯꽍 �꽑�깮 寃곌낵 */
.select_seat_result {
  display: flex;
  justify-content: space-between;
}
.select_seat_result .group_left {
  width: 100%;
  background-color: #444;
  color: white;
  font-size: 25px;
  line-height: 25px;
  padding: 0 15px;
}
.select_seat_result .group_left dl.total_price {
  display: flex;
  margin-bottom: 0;
}
.select_seat_result .group_left dl.total_price dt {
  line-height: 70px;
  margin-right: 10px;
}
.select_seat_result .group_left dl.total_price dd {
  line-height: 70px;
}

.select_seat_result .group_right {
  display: flex;
}
.select_seat_result .group_right form{
	display : contents;
}

.select_seat_result .group_right a,
.select_seat_result .group_right input {
  width: 100px;
  line-height: 70px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.select_seat_result .group_right .back {
  background-color: #444;
}
 
.select_seat_result .group_right .bookSeat {
  background-color: red;
  border : none;
  color : white;
}

/**********************************************************/

/* location */
.mapSearch_wrap .search_frm {
	margin-bottom: 10px;
}
.mapSearch_wrap .search_frm:after {
	content: "";
	display: block;
	clear: both;
}

.mapSearch_wrap #keyword {
	height: 40px;
}
.mapSearch_wrap #submit {
	background: url(../images/sub/location_map_40.png) no-repeat;
	width: 40px;
	height: 40px;
	border: 0px;
}

.mapSearch_wrap .map_wrap,
.mapSearch_wrap .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '�룍��', sans-serif;
    font-size: 12px;
}

.mapSearch_wrap .map_wrap a,
.mapSearch_wrap .map_wrap a:hover,
.mapSearch_wrap .map_wrap a:focus,
.mapSearch_wrap .map_wrap a:active {
    color: #1e1e1e;
    text-decoration: none;
}

.mapSearch_wrap .map_wrap {
    position: relative;
    width: 100%;
    height: 500px;
}

.mapSearch_wrap #menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}

.mapSearch_wrap .bg_white {
    background: #fff;
}

.mapSearch_wrap #menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

.mapSearch_wrap #menu_wrap .option {
    text-align: center;
}

.mapSearch_wrap #menu_wrap .option p {
    margin: 10px 0;
}

.mapSearch_wrap #menu_wrap .option button {
    margin-left: 5px;
}

.mapSearch_wrap #placesList li {
    list-style: none;
}

.mapSearch_wrap #placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

.mapSearch_wrap #placesList .item span {
    display: block;
    margin-top: 4px;
}

.mapSearch_wrap #placesList .item h5,
.mapSearch_wrap #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mapSearch_wrap #placesList .item .info {
    padding: 10px 0 10px 55px;
}

.mapSearch_wrap #placesList .info .gray {
    color: #8a8a8a;
}

.mapSearch_wrap #placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

.mapSearch_wrap #placesList .info .tel {
    color: #009900;
}

.mapSearch_wrap #placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

.mapSearch_wrap #placesList .item .marker_1 {
    background-position: 0 -10px;
}

.mapSearch_wrap #placesList .item .marker_2 {
    background-position: 0 -56px;
}

.mapSearch_wrap #placesList .item .marker_3 {
    background-position: 0 -102px
}

.mapSearch_wrap #placesList .item .marker_4 {
    background-position: 0 -148px;
}

.mapSearch_wrap #placesList .item .marker_5 {
    background-position: 0 -194px;
}

.mapSearch_wrap #placesList .item .marker_6 {
    background-position: 0 -240px;
}

.mapSearch_wrap #placesList .item .marker_7 {
    background-position: 0 -286px;
}

.mapSearch_wrap #placesList .item .marker_8 {
    background-position: 0 -332px;
}

.mapSearch_wrap #placesList .item .marker_9 {
    background-position: 0 -378px;
}

.mapSearch_wrap #placesList .item .marker_10 {
    background-position: 0 -423px;
}

.mapSearch_wrap #placesList .item .marker_11 {
    background-position: 0 -470px;
}

.mapSearch_wrap #placesList .item .marker_12 {
    background-position: 0 -516px;
}

.mapSearch_wrap #placesList .item .marker_13 {
    background-position: 0 -562px;
}

.mapSearch_wrap #placesList .item .marker_14 {
    background-position: 0 -608px;
}

.mapSearch_wrap #placesList .item .marker_15 {
    background-position: 0 -654px;
}

.mapSearch_wrap #pagination {
    margin: 10px auto;
    text-align: center;
}

.mapSearch_wrap #pagination a {
    display: inline-block;
    margin-right: 10px;
}

.mapSearch_wrap #pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

/*********************************************************/
/*鍮꾪쉶�썝 �삁留ㅽ븯湲�*/

.nonMember_wrap .form-group.phone .form-control {
    display: inline-block;
    width: 85px;
}

.nonMember_wrap #txtMobileBtn {
	width: 130px;
	margin-left: 10px;
}

.nonMember_wrap .btn.btn-default{
	border: 1px solid transparent;
	background-color: #ed3124;
	color: white;
}

.nonMember_wrap .btn.btn-default:hover{
	background-color: white;
	color: #ed3124;
	border-color: #ed3124;
}

.nonMember_wrap #txtMobileBtn,
.nonMember_wrap #txtMobileChk {
	border: 1px solid #ed3124;
	color: #ed3124;
}

.nonMember_wrap #txtMobileBtn:hover,
.nonMember_wrap #txtMobileChk:hover {
	background-color: #ed3124;
	color: white;
}


/***************************************************/
/*�옣諛붽뎄�땲*/
.cartList #cartStepList{
	list-style: none;
	display: flex;
    justify-content: center;
}

.cartList li{
	float: left;
	margin: 50px;
	text-align: center;
}

.cartList #card, #cart, #user, #minus, #equal {
	width: 50px;
	height: 50px;
	align-content: center;
  	display: block;
  	margin: auto;
}

.cartList strong {
	font-size: large;
}

.cartList #chkBox, .cartList #chkBoxAll{
	width: 17px;
	height: 17px;
}

.cartList .container, .cartList .creditBox {
	
	display: flex;
  	justify-content: center;
	
}



.cartList .cartTable, .cartList .creditBoxTable {
  	border-collapse: collapse;
  	width: 100%;
  	height:100px;
  	border-left: 0px;
  	border-right: 0px;
  	margin: 40px 0px 40px 0px;
}

.cartList .creditBoxTable {
  	border-collapse: collapse;
  	width: 100%;
  	height:100px;
  	border-left: 0px;
  	border-right: 0px;
  	margin: 40px 0px 40px 0px;
}

.cartList #cartStep0 th {
	height: 40px;
	background-color: aliceblue;
	text-align: center;
}

.cartList .btn{
	
	display: flex;
  	justify-content: center;
  	border-radius: 0px;
  	display: block;
  	margin: auto;
  	width: 200px;
  	height: 50px;
	
}

/**********************************************************/
/*�긽�젏*/

.store img {
	width: 350px;
	height: 300px;
}

.store a {
	text-decoration: none;
	color: black;
	display: inline-block;
	width:33%;
	margin-bottom: 30px;
	text-align: center;
	vertical-align: top;
	position: relative;
}

.store h4 {
	margin: 10px;
}

.store .storeList{
	text-align: center;
}


/**********************************************************/
/* 寃곗젣援ы쁽 �럹�씠吏�  */

.wrap_reserve {
  overflow: hidden;
  position: relative;
  width: 1280px;
  height: 950px;
  margin: 0 auto;
  background-color: #fff;
}

.wrap_reserve .article {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.wrap_reserve .article .group_top {
  overflow: hidden;
  position: relative;
  height: 55px;
  line-height: 55px;
  border-right: 1px solid #222;
  text-align: center;
  background-color: #000;
}
.wrap_reserve .article .group_top .tit {
  font-size: 18px;
  color: #fff;
}
/* end wrap_reserve */

/* �솕硫닿뎄�꽦, start article_sum_infor */
.article.article_sum_infor {
  width: 300px;
  background-color: #fff;
}

.article.article_sum_infor .sum_infor_wrap {
  overflow: hidden;
  height: 950px;
  border-right: 1px solid #ddd;
}

.article.article_sum_infor .sum_infor_wrap .product_infor {
  padding: 30px 30px 18px;
  border-bottom: 1px solid #ddd;
}
.article.article_sum_infor .sum_infor_wrap .thm {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
}
.article.article_sum_infor .sum_infor_wrap .thm img {
  width: 120px;
}

.article.article_sum_infor .sum_infor_wrap .tit {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}

.article.article_sum_infor .sum_infor_wrap .dlist_infor dt {
  clear: both;
  float: left;
  min-width: 40px;
  margin-bottom: 7px;
  font-size: 11px;
}
.article.article_sum_infor .sum_infor_wrap .dlist_infor dd {
  float: left;
  margin-bottom: 7px;
  font-size: 11px;
}

.article.article_sum_infor .sum_infor_wrap .dlist_infor .hidden {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}


.article.article_sum_infor .sum_infor_wrap .dlist_infor:after {
  content: "";
  display: block;
  clear: both;
}

/* �솕硫닿뎄�꽦, end article_sum_infor */

/* 寃곗젣�닔�떒, start article_pay_method */
.article.article_pay_method {
  width: 500px;
  background: #f8f8f8;
}

.article.article_pay_method .pay_method_wrap {
  overflow: hidden;
  height: 950px;
  border-right: 1px solid #ddd;
}

.article.article_pay_method .pay_method_wrap .group_payment {
  padding: 15px 30px;
}

.article.article_pay_method .pay_method_wrap .tit_payment {
  display: block;
  margin: 18px 0px 16px;
  font-size: 15px;
}

.article.article_pay_method .pay_method_wrap .box_cate {
  height: 190px;
}

.article.article_pay_method .pay_method_wrap .pay_list {
  height: 155px;
}

.article.article_pay_method .pay_method_wrap .pay_list .pay_item {
  position: relative;
  float: left;
  width: 31.3%;
  margin: 0 5px 1px 1px;
  background-color: #fff;
}

.article.article_pay_method .pay_method_wrap .pay_list button {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  height: 68px;
  line-height: 95px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* change point*/
.article.article_pay_method .pay_method_wrap .pay_list .cate1 {
  background: url(./../images/sub/method_ic_card.png);
  background-position: center 17px;
  background-repeat: no-repeat;
}

.article.article_pay_method .pay_method_wrap .pay_list .cate2 {
  background: url(./../images/sub/method_ic_phone.svg);
  background-position: center 17px;
  background-repeat: no-repeat;
}

.article.article_pay_method .pay_method_wrap .pay_list .cate3 {
  background: url(./../images/sub/method_ic_deposit.svg);
  background-position: center 17px;
  background-repeat: no-repeat;
}

/* 寃곗젣�닔�떒, end article_pay_method */

/* 寃곗젣湲곕뒫, start article_payment */
.article.article_payment {
  width: 400px;
  background-color: #fff;
}

.article.article_payment .payment_wrap {
  overflow: hidden;
  height: 950px;
}

.article.article_payment .payment_wrap .payment_sum_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #414141;
  color: white;
}
.article.article_payment .payment_wrap .payment_sum_wrap dl:first-child {
  border-top: none;
}

.article.article_payment .payment_wrap .payment_sum_wrap dl {
  height: 50px;
  padding: 10px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.article.article_payment .payment_wrap .payment_sum_wrap dl dt {
  clear: both;
  float: left;
  line-height: 25px;
  padding: 4px 0;
  font-size: 13px;
}
.article.article_payment .payment_wrap .payment_sum_wrap dl dd {
  float: right;
  clear: right;
  line-height: 25px;
  padding: 4px 0;
  font-size: 11px;
}

.article.article_payment .payment_wrap .payment_sum_wrap .btn_confirm {
  display: block;
  border-radius: 0;
  height: 65px;
  line-height: 65px;
  font-size: 17px;
  box-sizing: border-box;
  border: 1px solid #ff243e;
  color: #fff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #ff243e;
}

/* start article_payment */
/**********************************************************/



/**********************************************************/

/* 硫ㅻ쾭�돺 �럹�씠吏� */

.membership .top_infor {
    overflow: hidden;
    position: relative;
    margin: 0 auto 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    background-color: #FFF;
}
.membership .p {
	padding: 20px;
}
.membership .top_infor .page_box {
    margin: 40px 38px 62px;
}
.membership .top_infor .page_box .txt {
    text-align: center;
}
.membership input#join {
    background-color: white;
    border: 1px solid #ed3124;
    color: #ed3124;
    margin: 10px;
    padding: 7px;
    border-radius: 20px;
}
.membership input#login {
    float: right;
    border: white;
    background-color: white;
    padding: 1px;
}
