.section-complement {
  background-color: #f2f0e5;
  height: 100%;
}

.text_complement {
  font-size: 30px;
  line-height: 70px;
  padding-left: 110px;
}

.poster {
  display: flex;
  margin-bottom: 10px;
}

.poster img {
  width: 110px;
  height: 160px;
}

.poster table {
  height: 190px;
  margin-left: 35px;
  border-spacing: 10px;
  text-align: left;
}

.poster table tr {
  margin-bottom: 10px;
}

.poster .ticket_no td,
.poster .payment_price td span {
  color: red;
}

.ticket_button_group {
  padding-left: 150px;
  height: 60px;
}
.ticket_button_group .ticket_button_group_wrap {
  display: flex;
  align-items: center;
  height: 60px;
}
.ticket_button_group .ticket_button_group_wrap .btn_red {
  background-color: red !important;
}

.ticket_button_group .ticket_button_group_wrap a {
  padding: 10px 20px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.ticket_instructions {
  text-align: left;
}
.ticket_instructions hr {
  display: inline-block;
  width: 700px;
}

.ticket_instructions dl {
  display: flex;
}
.ticket_instructions dl dt {
  display: inline-block;
}
.ticket_instructions dl dd {
  display: inline-block;
}
.ticket_instructions dl dd ul {
  list-style: none;
}
.ticket_instructions dl dd li {
  margin-bottom: 10px;
}
